@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div>
     @{ Html.RenderPartial("_PartialUnderConstruction"); }
</div>

<script>
    EditNavBarFocus();

    function EditNavBarFocus() {
        document.getElementById("alAbout").className = "action-link active";
    }
</script>