@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div class="cover-image">
    <div class="text-center">
        <h3 id="mte" style="font-size: 60px;font-weight: 300">Monitoring the environment,</h3>
        <h3 id="mte" style="font-size: 60px;font-weight: 300">right in your pocket</h3>
        <h3 id="nmte" style="font-size: 60px;font-weight: 300">UrAir</h3>
        <br>
        <p style="font-size: 20px;font-weight: 200; color: white">A small air reporter that fits into your pocket</p>
        <a href="@Url.Action("About", "Home")"><button class="btnn btn-fill-blue">READ MORE</button></a>
        <a href="@Url.Action("Map", "Home")"><button class="btnn btn-outline-white">EXPLORE NOW</button></a>
        <!-- <button class="btn btn-lg btn-outline-light">READ MORE</button> -->
    </div>
</div>
<div class="product-ads">
    <div class="col-md-12 col-lg-4 fl-rights">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/Urair_3D.png?alt=media&token=ee844af0-3ca8-4f67-b26e-e036317041a4" style="width: 300px; height: 300px; margin: 1rem">
    </div>
    <div class="col-12 col-lg-4 fl-left" style="margin-top: auto; margin-bottom: auto">
        <div class="col-12 col-lg-8" style="text-align: justify; justify-content: center">
            <h3 id="h3" style="color: black;">Compact Design</h3>
            <p>
                Ur Air and Ur Air Plus is designed small enough for you to fit it in your own pocket and use it as you
                travel, any where human can reach any where Ur Air and Ur Air Plus can measure.
            </p>
            <a href="@Url.Action("About", "Home")"><button class="btnn btn-fill-blue" style="margin: 0; width: 100%">Read more</button></a>
        </div>
    </div>
</div>
<div class="product-ads" style="background-color: lightgray">
    <div class="col-12 col-lg-4 fl-right" style="margin-top: auto; margin-bottom: auto">
        <div class="col-12 col-lg-8" style="text-align: justify; float:right">
            <h3 id="h3" style="color: black;">World-range Monitoring</h3>
            <p>
                With Ur Map, you can see every of the measured result around the world, which other users contributed,
                and of course, yours.
            </p>
            <a href="@Url.Action("Map", "Home")"><button class="btnn btn-fill-blue" style="margin: 0; width: 100%">See it in action</button></a>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 fl-left">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/UrMap.png?alt=media&token=1b77b585-a4e6-4289-8dd3-088161a45014" style="height: 300px; margin: 1rem">
    </div>
</div>

<div class="discover-product">
    <div style="width: 100%; justify-items: center; padding: 2rem">
        <h3 style="color: black; text-align: center">Discover our products</h3>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%; padding: none">
        <div class="carousel-inner">
            <div id="car1" class="carousel-item active">
                <img class="d-block w-100"
                     src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/Intro.jpg?alt=media&token=b0a5bf8f-3f21-4a27-ad02-9201ee480e73"
                     alt="First slide">
            </div>
            <div id="car2" class="carousel-item">
                <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/screenshot_map.png?alt=media&token=d4bdb577-d08e-45cb-bee7-f0630b4c1181"
                     alt="Second slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="dev-team">
    <div style="width: 100%; padding: 2rem">
        <h3 style="color: black; text-align: center">And this is our development team, you'll love them</h3>
    </div>
    <div class="dev-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/40354267_573423126410597_6465827042242854912_n.jpg?alt=media&token=759642d9-18d7-4718-ae8c-32b694fed187"
             style="width: 100%">
        <div class="overlay-image">
            <div class="overlay-text">
                Bui Quoc Khoi<br>
                <p style="font-size: 18px">Technical director</p>
            </div>
        </div>
    </div>
    <div class="dev-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56828169_2299900506698292_2526485288914518016_n.jpg?alt=media&token=49347c63-549c-47e3-81c8-ab394ed6166c"
             style="width: 100%">
        <div class="overlay-image">
            <div class="overlay-text">
                Dao Ngoc Bach Nguyen<br>
                <p style="font-size: 18px">Marketting analysis</p>
            </div>
        </div>
    </div>
    <div class="dev-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56947201_1134094310126924_4089383081444638720_n.jpg?alt=media&token=bfbcff1c-82d4-4ea4-afa5-f57988177d45"
             style="width: 100%">
        <div class="overlay-image">
            <div class="overlay-text">
                Nguyen Huu Duc Huy<br>
                <p style="font-size: 18px">Embedded system architecture</p>
            </div>
        </div>
    </div>
    <div class="dev-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57203975_383884078878562_3358027288548474880_n.jpg?alt=media&token=4dc613b3-9fbd-4f7e-9e33-3019d0b0aea5"
             style="width: 100%">
        <div class="overlay-image">
            <div class="overlay-text">
                Nguyen Ngoc Quang<br>
                <p style="font-size: 18px">Mobile developer & data analysis</p>
            </div>
        </div>
    </div>
    <div class="dev-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57453727_692236511192816_8134941046745333760_n.jpg?alt=media&token=b66b582d-2f47-47b2-88da-f4d35ebe408d"
             style="width: 100%">
        <div class="overlay-image">
            <div class="overlay-text">
                Nguyen Dang Quynh Tien<br>
                <p style="font-size: 18px">Solution & project manager</p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div>
        <p style="color: white; margin:auto">Environmetal Economy Project</p>
    </div>
    <div>
        <a href="https://facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://linkedin.com" class="fa fa-linkedin"></a>
        <a href="https://youtube.com" class="fa fa-youtube"></a>
    </div>
</footer>

<script>
    EditNavBarFocus();

    function EditNavBarFocus() {
        document.getElementById("alHome").className = "action-link active";
    }
</script>