@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<div id="page" class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <div id="content" class="main-container">

        <section class="content-area ">
            <div id="main" class="" role="main">
                <div id="shapely_home_parallax-2" class="widget shapely_home_parallax">
                    <section class="cover fullscreen image-bg">
                        <div class="parallax-window fullscreen" data-parallax="scroll"
                             data-image-src="http://static.asiawebdirect.com/m/bangkok/portals/vietnam/homepage/ho-chi-minh-city/tours/pagePropertiesImage/ho-chi-minh-tour.jpg.jpg" data-ios-fix="true" data-over-scroll-fix="true" data-android-fix="true">
                            <div class="align-transform">

                                <div class="row">


                                    <div class="top-parallax-section">
                                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                                            <h1>Monitoring the environment, <br>right in your pocket</h1><div class="mb32">
                                                <p>A small device which can measure the air quality as you carry around</p>
                                            </div><a class="btn btn-lg btn-filled" href="@Url.Action("About", "Home")">Read More</a><a class="btn btn-lg btn-white" href="@Url.Action("Map", "Home")">Explore Now</a>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix"></div>
                </div><div id="shapely_home_parallax-3" class="widget shapely_home_parallax">
                    <section class="">
                        <div class="container">

                            <div class="row align-children">

                                <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                                    <img class="img-responsive" alt="SEO Friendly" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/macbook-preview-flexible.png">
                                </div>

                                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                                    <div class="">
                                        <h3>Compact Design</h3><div class="mb32">
                                            <p>
                                                Ur Air and Ur Air Plus is designed small enough for you to
                                                fit it in your own pocket and use it as you travel,
                                                any where human can reach, any where Ur Air and Ur Air Plus can measure.
                                            </p>
                                        </div><a class="btn btn-lg btn-filled" href="@Url.Action("About", "Home")">Read more</a>
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                        </div>
                    </section>
                    <div class="clearfix"></div>
                </div><div id="shapely_home_parallax-4" class="widget shapely_home_parallax">
                    <section class="bg-secondary">
                        <div class="container">

                            <div class="row align-children">


                                <div class="col-md-4 col-sm-5 mb-xs-24">
                                    <div class="">
                                        <h3>World-range Monitoring</h3><div class="mb32">
                                            <p>
                                                With Ur Map, you can see every of the measured result
                                                around the world, which other users contributed,
                                                and of course, yours.
                                            </p>
                                        </div><a class="btn btn-lg btn-filled" href="@Url.Action("Map", "Home")">See it in action</a>
                                    </div>
                                </div>
                                <!--end of row-->
                                <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
                                    <img class="img-responsive" alt="Portfolio Section" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/flexible-portfolio.png">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix"></div>
                </div><div id="shapely_home_parallax-5" class="widget shapely_home_parallax">
                    <section class="small-screen image-bg p0">
                        <div class="parallax-window " data-parallax="scroll" data-image-src="https://news.mogi.vn/wp-content/uploads/2018/07/gia-nha-dat-tai-tphcm-khong-ngung-tang-du-kho-ban-1-2.jpg" data-ios-fix="true" data-over-scroll-fix="true" data-android-fix="true">
                            <div class="">

                                <div class="row">


                                    <div class="top-parallax-section">
                                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                                            <h1>Use it at crowded cities</h1><div class="mb32">
                                                <p>
                                                    Many cities nowadays encounter a big anxiety about
                                                    the environment condition, not many of the citizens is
                                                    properly informed about it.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix"></div>
                </div><div id="shapely_home_parallax-6" class="widget shapely_home_parallax">
                    <section class="bg-secondary pb0">
                        <div class="container">

                            <div class="row">


                                <div class="col-sm-10 col-sm-offset-1 text-center">
                                    <div class="">
                                        <h3>Or at the peaceful country side</h3><div class="mb32">
                                            <p>To see how bad you need for a trip to these places</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end of row-->
                                <div class="">
                                    <img class="img-responsive" alt="Limitless Options" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1440557653082-e8e186733eeb-1.jpg">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix"></div>
                </div><div id="shapely_home_portfolio-2" class="widget shapely_home_portfolio">
                          <section class="projects pb0" style="background-color:#0e1015">
                              <div class="container">
                                  <div class="col-sm-12 text-center">
                                      <h3 class="mb32" style="color:#ffffff">Team Member</h3>
                                      <p class="mb40" style="color:#ffffff">This is our development team. You&#039;ll love them!</p>
                                  </div>
                              </div>

                              <div class="row masonry-loader fixed-center fadeOut">
                                  <div class="col-sm-12 text-center">
                                      <div class="spinner"></div>
                                  </div>
                              </div>
                              <div class="row fadeIn masonry masonryFlyIn">
                                  <div class="col-md-4 col-sm-6 project fadeIn masonry-item">
                                      <div class="image-tile inner-title hover-reveal text-center" style="">
                                          <a href="#" title="Bui Quoc Khoi">
                                              <img width="1200" height="837" src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/40354267_573423126410597_6465827042242854912_n.jpg?alt=media&token=759642d9-18d7-4718-ae8c-32b694fed187"
                                                   class="attachment-full size-full wp-post-image" alt=""
                                                   srcset="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/40354267_573423126410597_6465827042242854912_n.jpg?alt=media&token=759642d9-18d7-4718-ae8c-32b694fed187 1200w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/40354267_573423126410597_6465827042242854912_n.jpg?alt=media&token=759642d9-18d7-4718-ae8c-32b694fed187 300w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/40354267_573423126410597_6465827042242854912_n.jpg?alt=media&token=759642d9-18d7-4718-ae8c-32b694fed187 768w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/40354267_573423126410597_6465827042242854912_n.jpg?alt=media&token=759642d9-18d7-4718-ae8c-32b694fed187 1024w"
                                                   sizes="(max-width: 1200px) 100vw, 1200px" />
                                              <div class="title">
                                                  <h5 class="mb0">Bui Quoc Khoi</h5>
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-6 project fadeIn masonry-item">
                                      <div class="image-tile inner-title hover-reveal text-center" style="">
                                          <a href="#" title="Nguyen Ngoc Quang">
                                              <img width="1200" height="837" src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57203975_383884078878562_3358027288548474880_n.jpg?alt=media&token=16f94617-b7b5-41eb-bcd8-22408acab53b"
                                                   class="attachment-full size-full wp-post-image" alt=""
                                                   srcset="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57203975_383884078878562_3358027288548474880_n.jpg?alt=media&token=4dc613b3-9fbd-4f7e-9e33-3019d0b0aea5 1200w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57203975_383884078878562_3358027288548474880_n.jpg?alt=media&token=4dc613b3-9fbd-4f7e-9e33-3019d0b0aea5 300w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57203975_383884078878562_3358027288548474880_n.jpg?alt=media&token=4dc613b3-9fbd-4f7e-9e33-3019d0b0aea5 768w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57203975_383884078878562_3358027288548474880_n.jpg?alt=media&token=4dc613b3-9fbd-4f7e-9e33-3019d0b0aea5 1024w"
                                                   sizes="(max-width: 1200px) 100vw, 1200px" />
                                              <div class="title">
                                                  <h5 class="mb0">Nguyen Ngoc Quang</h5>
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-6 project fadeIn masonry-item">
                                      <div class="image-tile inner-title hover-reveal text-center" style="">
                                          <a href="#" title="Nguyen Huu Duc Huy">
                                              <img width="1200" height="837" src=""
                                                   class="attachment-full size-full wp-post-image" alt=""
                                                   srcset="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56947201_1134094310126924_4089383081444638720_n.jpg?alt=media&token=bfbcff1c-82d4-4ea4-afa5-f57988177d45 1200w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56947201_1134094310126924_4089383081444638720_n.jpg?alt=media&token=bfbcff1c-82d4-4ea4-afa5-f57988177d45 300w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56947201_1134094310126924_4089383081444638720_n.jpg?alt=media&token=bfbcff1c-82d4-4ea4-afa5-f57988177d45 768w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56947201_1134094310126924_4089383081444638720_n.jpg?alt=media&token=bfbcff1c-82d4-4ea4-afa5-f57988177d45 1024w"
                                                   sizes="(max-width: 1200px) 100vw, 1200px" />
                                              <div class="title">
                                                  <h5 class="mb0">Nguyen Huu Duc Huy</h5>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <div class="row fadeIn masonry masonryFlyIn">
                                  <div class="col-md-4 col-sm-6 project fadeIn masonry-item">
                                      <div class="image-tile inner-title hover-reveal text-center" style="">
                                          <a href="#" title="Dao Ngoc Bach Nguyen">
                                              <img width="1200" height="837" src=""
                                                   class="attachment-full size-full wp-post-image" alt=""
                                                   srcset="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56828169_2299900506698292_2526485288914518016_n.jpg?alt=media&token=49347c63-549c-47e3-81c8-ab394ed6166c 1200w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56828169_2299900506698292_2526485288914518016_n.jpg?alt=media&token=49347c63-549c-47e3-81c8-ab394ed6166c 300w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56828169_2299900506698292_2526485288914518016_n.jpg?alt=media&token=49347c63-549c-47e3-81c8-ab394ed6166c 768w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/56828169_2299900506698292_2526485288914518016_n.jpg?alt=media&token=49347c63-549c-47e3-81c8-ab394ed6166c 1024w"
                                                   sizes="(max-width: 1200px) 100vw, 1200px" />
                                              <div class="title">
                                                  <h5 class="mb0">Dao Ngoc Bach Nguyen</h5>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-md-4 col-sm-6 project fadeIn masonry-item">
                                      <div class="image-tile inner-title hover-reveal text-center" style="">
                                          <a href="#" title="Nguyen Dang Quynh Tien">
                                              <img width="1200" height="837" src=""
                                                   class="attachment-full size-full wp-post-image" alt=""
                                                   srcset="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57453727_692236511192816_8134941046745333760_n.jpg?alt=media&token=b66b582d-2f47-47b2-88da-f4d35ebe408d 1200w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57453727_692236511192816_8134941046745333760_n.jpg?alt=media&token=b66b582d-2f47-47b2-88da-f4d35ebe408d 300w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57453727_692236511192816_8134941046745333760_n.jpg?alt=media&token=b66b582d-2f47-47b2-88da-f4d35ebe408d 768w,
                                             https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/57453727_692236511192816_8134941046745333760_n.jpg?alt=media&token=b66b582d-2f47-47b2-88da-f4d35ebe408d 1024w"
                                                   sizes="(max-width: 1200px) 100vw, 1200px" />
                                              <div class="title">
                                                  <h5 class="mb0">Nguyen Dang Quynh Tien</h5>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>

                          </section>

                </div><div id="shapely_home_testimonial-2" class="widget shapely_home_testimonial">
                    <section class="parallax-section testimonial-section">
                        <div class="parallax-window" data-parallax="scroll" data-image-src="http://2sao.vietnamnetjsc.vn/images/2017/07/12/15/53/van-menh-nguoi-sinh-thang-2-am-lich-3.jpg" style="height: 500px;">
                            <div class="container align-transform">
                                <div class="parallax-text image-bg testimonial">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <h3>Discover Our Product</h3>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                                            <div class="text-slider slider-arrow-controls text-center relative">
                                                <ul class="slides" style="overflow: hidden;">
                                                    <li>
                                                        <p>
                                                        <p>
                                                            Ur air is a small usb device that you plug it into your phone to manually measure the air quality,
                                                            get the result instantly and immediately push it into the web server. It is as small as a keychain
                                                            so you can fit it right into your keychain and carry every where you want
                                                        </p>
                                                        </p>
                                                        <div class="testimonial-author-section">
                                                            <img width="150" height="150" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller-150x150.jpg" class="testimonial-img wp-post-image" alt="" srcset="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller-150x150.jpg 150w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller-50x50.jpg 50w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller.jpg 440w" sizes="(max-width: 150px) 100vw, 150px" />
                                                            <div class="testimonial-author">
                                                                <strong>Ur Air</strong>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <p>
                                                        <p>
                                                            Ur Air Plus can do every thing an Ur Air can, but you can use it without
                                                            your phone, it is a small device with a solar panel on top that you mount
                                                            it to your hand, bag, or even brief case, with built-in bluetooth so you
                                                            can freely discover your trip without having to use your phone
                                                        </p>
                                                        </p>
                                                        <div class="testimonial-author-section">
                                                            <img width="150" height="150" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-150x150.jpg" class="testimonial-img wp-post-image" alt="" srcset="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-150x150.jpg 150w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-300x300.jpg 300w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-768x768.jpg 768w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-50x50.jpg 50w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns.jpg 800w" sizes="(max-width: 150px) 100vw, 150px" />
                                                            <div class="testimonial-author">
                                                                <strong>Ur Air Plus</strong>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <p>
                                                        <p>
                                                            Ur Map is an online website with the range of the whole world, you can see
                                                            the air quality around the world, you can check them out and even make friends
                                                            on these
                                                        </p>
                                                        </p>
                                                        <div class="testimonial-author-section">
                                                            <img width="150" height="150" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-150x150.jpg" class="testimonial-img wp-post-image" alt="" srcset="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-150x150.jpg 150w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-300x300.jpg 300w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-768x768.jpg 768w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-50x50.jpg 50w, https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns.jpg 800w" sizes="(max-width: 150px) 100vw, 150px" />
                                                            <div class="testimonial-author">
                                                                <strong>Ur Map</strong>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                            </div>
                            <!--end of container-->
                        </div>
                    </section>
                </div>
                @*<div id="shapely_home_clients-2" class="widget shapely_home_clients">
                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h3 class="mb64 mb-xs-40">Our Main Clients</h3>
                                    </div>
                                </div>
                                <!--end of row-->
                                <div class="row">
                                    <div class="logo-carousel">
                                        <ul class="slides">
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/colorlib-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/js-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/html5-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/css-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/less-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/sass-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/bootstrap-logo.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/adobe-logo.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="Logos" src="https://colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/facebook-logo.png" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--end of logo slider-->
                                </div>
                                <!--end of row-->
                            </div>
                            <!--end of container-->
                        </section>

                    </div>*@
                <div id="shapely_home_cfa-2" class="widget shapely_home_CFA">
                    <section class="cfa-section bg-secondary">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center p0">
                                    <div class="overflow-hidden">
                                        <div class="col-sm-9">
                                            <h3 class="cfa-text">And just like other projects, you can donate us as you want.</h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" class="mb0 btn btn-lg btn-filled cfa-button">Donate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>
                </div>


            </div><!-- #main -->
        </section><!-- section -->

        <div class="footer-callout">
        </div>

        <footer id="colophon" class="site-footer footer bg-dark" role="contentinfo">
            <div class="container footer-inner">
                <div class="row">

                </div>

                <div class="row">
                    <div class="site-info col-sm-6">
                        <div class="copyright-text">
                        </div>
                        <div class="footer-credits">
                            Environmetal Economy Project
                        </div>
                    </div><!-- .site-info -->
                    <div class="col-sm-6 text-right">
                        <nav id="social" class="social-icons">
                            <ul id="menu-social-items" class="list-inline social-list">
                                <li id="menu-item-1893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893"><a href="https://facebook.com"><i class="social_icon fa"><span>Colorlib</span></i></a></li>
                                <li id="menu-item-1894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894"><a href="https://twitter.com"><i class="social_icon fa"><span>Twitter</span></i></a></li>
                                <li id="menu-item-1895" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1895"><a href="https://www.linkedin.com"><i class="social_icon fa"><span>Linkedin</span></i></a></li>
                                <li id="menu-item-1923" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1923"><a href="https://youtube.com"><i class="social_icon fa"><span>Youtube</span></i></a></li>
                                <li id="menu-item-1924" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1924"><a href="https://www.instagram.com"><i class="social_icon fa"><span>Instagram</span></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top"><i class="fa fa-angle-up"></i></a>
        </footer>
        <!-- #colophon -->
    </div>
</div><!-- #page -->

<script type="1823b34905cf980b9b1f1382-text/javascript">
    jQuery( document ).ready( function( $ ) {
        if ( $( window ).width() >= 767 ) {
            $( '.navbar-nav > li.menu-item > a' ).click( function() {
                window.location = $( this ).attr( 'href' );
            } );
        }
    } );
</script>
<div style="display:none">
</div>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"https:\/\/colorlib.com\/shapely\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
    /* ]]> */
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201913'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/shapely\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/shapely\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/colorlib.com\/shapely\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.5.7'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/shapely\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/shapely\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.5.7'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/shapely\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/shapely\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_65013fbd5d1b54c33511019fbdf30268","fragment_name":"wc_fragments_65013fbd5d1b54c33511019fbdf30268"};
    /* ]]> */
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.5.7'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    jQuery( 'body' ).bind( 'wc_fragments_refreshed', function() {
        jQuery( 'body' ).trigger( 'jetpack-lazy-images-load' );
    } );

</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://secure.gravatar.com/js/gprofiles.js?ver=2019Maraa'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    /* <![CDATA[ */
    var WPGroHo = {"my_hash":""};
    /* ]]> */
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/jetpack/modules/wpgroho.js?ver=5.1.1'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/themes/shapely/assets/js/skip-link-focus-fix.js?ver=20160115'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/flexslider/jquery.flexslider.min.js?ver=2.7.2'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/themes/shapely/assets/js/parallax.min.js?ver=20160115'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.carousel.min.js?ver=20160115'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    /* <![CDATA[ */
    var ShapelyAdminObject = {"sticky_header":"1"};
    /* ]]> */
</script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-content/themes/shapely/assets/js/shapely-scripts.js?ver=20180423'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://colorlib.com/shapely/wp-includes/js/wp-embed.min.js?ver=5.1.1'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript" src='https://stats.wp.com/e-201913.js' async='async' defer='defer'></script>
<script type="1823b34905cf980b9b1f1382-text/javascript">
    _stq = window._stq || [];
    _stq.push([ 'view', {v:'ext',j:'1:7.1.1',blog:'107424909',post:'1863',tz:'0',srv:'colorlib.com'} ]);
    _stq.push([ 'clickTrackerInit', '107424909', '1863' ]);
</script>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="1823b34905cf980b9b1f1382-|49" defer=""></script>
